version: '3'

services:

  jasperstarter-nginx:
    container_name: jasperstarter-nginx
    build: docker/nginx
    links:
      - jasperstarter-php
    ports:
      - 80:80
    working_dir: /application
    volumes:
      - ./:/application

  jasperstarter-php:
    container_name: jasperstarter-php
    build: docker/php
    environment:
      XDEBUG_IDEKEY: xdebug
      XDEBUG_REMOTE_HOST: 127.0.0.1
      XDEBUG_REMOTE_PORT: 9000
      XDEBUG_REMOTE_ENABLE: 1
    working_dir: /application
    volumes:
      - ./:/application
